@page "/essays/{courseRef}"
@using MedbaseLibrary.Models
@inject NavigationManager navManager
@inject IApiRepository repository
@inject IEssaysRepository essaysRepository

<PageTitle>@title</PageTitle>
<HeadContent>
    <title>@title</title>
    <meta name="title" content="@title" />
    <meta name="description" content="@description" />

    <!-- Open Graph / Facebook -->
    <meta name="og:type" content="website" />
    <meta name="og:url" content="@navManager.BaseUri" />
    <meta name="og:title" content="@title" />
    <meta name="og:description" content="@description" />
    <meta name="og:image" content="@image" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="@navManager.BaseUri" />
    <meta name="twitter:title" content="@title" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:image" content="@image" />
</HeadContent>

<header>
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <MudText Typo="Typo.h2" class="display-5 fw-bolder mb-2">
                    @courseTopicEssayDtos.Course Essays
                </MudText>
                <MudText class="fw-normal mb-4">
                    @description
                </MudText>
            </div>
            <div class="col-lg-4 offset-lg-1 m-5">
                <img class="img-fluid bg-transparent" src="img/desk.png" style="max-height:300px">
            </div>
        </div>
    </div>
</header>

<MudContainer Class="mt-5">
    @if (loading)
    {
        <MedbaseComponents.Controls.LoadingComponent Message="Getting essays from the database..." />
    }
    else if (courseTopicEssayDtos.TopicEssayDto.Count == 0 && loading.Equals(false))
    {
        <MedbaseComponents.Controls.EmptyNotesComponent />
    }
    else
    {
        <div class="row gx-5">
            <Virtualize Items="courseTopicEssayDtos.TopicEssayDto" Context="courseEssays" TItem="TopicEssayDto">
                <ItemContent>
                    <div class="col-lg-4 mb-5">
                        <MudCard>
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h4">@courseEssays.Topic</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                @foreach (var essay in courseEssays.Essays)
                                {
                                    <MudPaper @onclick="@(() => GoTo(essay.Id))" Class="p-1">
                                        <MudMarkdown Value="@essay.Question" />
                                    </MudPaper>
                                }
                            </MudCardContent>
                        </MudCard>
                    </div>
                </ItemContent>
            </Virtualize>
        </div>
    }
</MudContainer>

@code {
    [Parameter]
    public string courseRef { get; set; }
    private CourseTopicEssayDto courseTopicEssayDtos = new();
    private bool loading = true;

    private string description = "Medbase essays are a convenient and effective way to study for medical school exams. A summary of key slides and high yield information. Dive in!";
    private string title = "Essays | Medbase";
    private string image = "https://i.postimg.cc/T1DjN4S5/Logo.png";


    protected override async Task OnInitializedAsync()
    {
        loading = true;
        courseTopicEssayDtos = await essaysRepository.GetEssaysByCourse(courseRef);
        loading = false;
    }
    private void GoTo(int id)
    {
        navManager.NavigateTo($"/essays/view/{id}");
    }
}