@page "/notes"
@using MedbaseLibrary.Models
@inject NavigationManager navManager;
@inject IApiRepository repository
<PageTitle>@title</PageTitle>
    <HeadContent>
        <title>@title</title>
    <meta name="title" content="@title" />
    <meta name="description" content="@description" />

    <!-- Open Graph / Facebook -->
    <meta name="og:type" content="website" />
    <meta name="og:url" content="@navManager.BaseUri" />
    <meta name="og:title" content="@title" />
    <meta name="og:description" content="@description" />
    <meta name="og:image" content="@image" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="@navManager.BaseUri" />
    <meta name="twitter:title" content="@title" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:image" content="@image" />
</HeadContent>

<header>
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <MudText Typo="Typo.h2" class="display-5 fw-bolder mb-2">
                    Notes📝
                </MudText>
                <MudText class="fw-normal mb-4">
                    @description
                </MudText>
            </div>
            <div class="col-lg-4 offset-lg-1 m-5">
                <img class="img-fluid bg-transparent" src="img/notes.png" style="max-height:300px">
            </div>
        </div>
    </div>
</header>

<MudContainer Class="mt-5">
        @if (!_courseTopics.Any())
        {
        <LoadingComponent />
    }
    else
    {
        <div class="row gx-5">
            <Virtualize Items="_courseTopics" Context="courseTopics" TItem="CourseTopicsDto">
                <ItemContent>
                    <div class="col-lg-4 mb-5">
                        <MudCard>
                            <MudCardMedia Image="@courseTopics.CourseImage" Height="100" />
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h5">@courseTopics.Course</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                                <MudCardContent>
                                    @foreach (var topic in courseTopics.Topics)
                                {
                                    @* <MudText @onclick="() => GoTo(topic.TopicRef)" Typo="Typo.body1">@topic.Name</MudText> *@
                                    <span>> </span><MudLink @onclick="() => GoTo(topic.TopicRef)" Typo="Typo.body1">@topic.Name</MudLink> <br/>
                                }
                            </MudCardContent>
                        </MudCard>
                    </div>
                </ItemContent>
            </Virtualize>
        </div>
    }
</MudContainer>

@code {
    private List<CourseTopicsDto> _courseTopics = new();
    private bool loading = true;

    private string description = "Medbase notes are a convenient and effective way to study for medical school exams. A summary of key slides and high yield information. Dive in!";
    private string title = "Notes | Medbase";
    private string image = "https://i.postimg.cc/T1DjN4S5/Logo.png";


    protected override async Task OnInitializedAsync()
    {
        loading = true;
        _courseTopics = await repository.GetListCourseTopicsDto();
        loading = false;
    }
    private void GoTo(int topicRef)
    {
        navManager.NavigateTo($"/note/{topicRef}");
    }
}
