@page "/signin"

@layout AuthLayout
@inject IAuthService authService
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager
@using MedbaseLibrary.Helpers
@using Microsoft.AspNetCore.Authorization
@inject IAuthMemory authMemory
@using MedbaseComponents.Controls
@inject ISnackbar Snackbar

<PageTitle>@title</PageTitle>
<HeadContent>
    <title>@title</title>
    <meta name="title" content="@title" />
    <meta name="description" content="@description" />

    <!-- Open Graph / Facebook -->
    <meta name="og:type" content="website" />
    <meta name="og:url" content="@navManager.BaseUri" />
    <meta name="og:title" content="@title" />
    <meta name="og:description" content="@description" />
    <meta name="og:image" content="@image" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="@navManager.BaseUri" />
    <meta name="twitter:title" content="@title" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:image" content="@image" />
</HeadContent>

<div class="w-100 m-auto" style="max-width:350px;padding:1rem;">
    <MudImage Src="img/medbase_transparent.png" Style="max-height:80px" />
    <MudStack>
        <div class="@(isBusy ? "d-block" : "d-none")">
            <SkeletonLoadingComponent />
        </div>
        <div class="@(isBusy ? "d-none" : "d-block")">
            <EditForm Model="User" OnValidSubmit="LoginUser"
                @ref="editForm">
                <DataAnnotationsValidator />
                <h4>Please sign in</h4>
                <hr />
                <ValidationSummary class="text-danger" role="alert" />

                <div>
                    <!-- Email Address -->
                    <MudTextField @bind-Value="User.Email"
                                    @ref="emailField"
                                    Error="@signInFailed"
                                    ErrorText="@errorMessage"
                                  Label="Email Address"
                                  Variant="Variant.Outlined" />
                    <ValidationMessage For="() => User.Email" class="text-danger" />
                </div>

                <!-- Password -->

                <div>
                    <MudTextField @bind-Value="User.Password"
                                  Label="Password"
                                  @ref="passwordField"
                                  Error="@signInFailed"
                                  ErrorText="@errorMessage"
                                  Variant="Variant.Outlined"
                                  InputType="@PasswordInput"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@PasswordInputIcon"
                                  OnAdornmentClick="@TogglePasswordVisibility"
                                  AdornmentAriaLabel="Show Password" />
                    <ValidationMessage For="() => User.Password" class="text-danger" />
                </div>

                <SubmitButton IsBusy="isBusy" Title="Sign In" />
            </EditForm>
        </div>
        <p>
            <a href="Account/ForgotPassword">Forgot your password?</a>
        </p>
        <p>
            <a href="/signup">Sign up as a new user</a>
        </p>
    </MudStack>
</div> 

@code {

    //SEO
    private string description = "Create an account today to use Medbase AI and more";
    private string title = "Sign Up | Medbase";
    private string image = "https://i.postimg.cc/T1DjN4S5/Logo.png";

    private string? errorMessage;
    private bool showPassword;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
    private MudTextField<string> passwordField;
    private MudTextField<string> emailField;
    private EditForm editForm;
    private bool isBusy = false;
    private bool signInFailed = false;
    private Snackbar snackbar;

    private AuthenticationRequest? User { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
    }

    public async Task LoginUser()
    {
        isBusy = true;
        try
        {
            var result = await authService.SignInAsync(User);
            if (result.IsSuccess)
            {
                AuthenticationResponse response = result.Data as AuthenticationResponse;
                authMemory.StoreToken(Helpers.AuthMemory, response.Token);
                Console.WriteLine(response.Token);
                NavigationManager.NavigateTo("/home", true);
            }
            else
            {
                errorMessage = result.Message;
                signInFailed = true;
                snackbar = Snackbar.Add(result.Message, Severity.Info);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
        finally
        {
            isBusy = false;
        }
    }

    void TogglePasswordVisibility()
    {
        if (showPassword)
        {
            showPassword = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            showPassword = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
}
