@using Markdig
<MudPaper Outlined="true" Class="p-1">
    <MudStack Spacing="1" Justify="Justify.Center">
        <MudText Align="Align.Center">
            <span class="fw-bolder">
                @Answer.ToString()
            </span>
            <span class="@(string.IsNullOrWhiteSpace(Explanation) ? "d-none" : "d-block")">
                @((MarkupString)Markdown.ToHtml(Explanation == null ? " " : Explanation))
            </span>
        </MudText>
        <MudStack Row="true" Spacing="3" Justify="Justify.Center" AlignItems="AlignItems.Center">
            <MudIconButton Color="Color.Default" Size="Size.Small" Icon="@Icons.Material.Filled.Edit" />
            <MudIconButton Icon="@Icons.Material.Filled.ThumbUp" Color="Color.Default" Size="Size.Small" />
            <MudIconButton Icon="@Icons.Material.Filled.ThumbDown" Color="Color.Default" Size="Size.Small" />
            <MudIconButton Color="Color.Default" Size="Size.Small" OnClick="@(() => AskMedbaseClicked.InvokeAsync())" Icon="@Icons.Material.Filled.AutoAwesome" />
        </MudStack>
    </MudStack>
</MudPaper>

@code {
    [Parameter]
    public string QuestionMain { get; set; } = "";
    [Parameter]
    public string Child { get; set; } = "";
    [Parameter]
    public bool Answer { get; set; }
    [Parameter]
    public string Explanation { get; set; } = "";
    [Parameter]
    public EventCallback<string> AskMedbaseClicked { get; set; }
}
